<%- include('partials/header') %>

<main>
  <h1>hello, <%= user ? user.name : "friend" %></h1>
</main>

<%if(user){%>
  <section class="options">
    <body>This is the user id:: <%=user._id%></body><br>
    <a href= "/projects/<%=user._id%>">Projects</a>
    <br>
    <a href = ""> Tasks </a>
    <br>
    <a href = "/projects"> Browse All Projects</a>
    <br>
  </section>
  
  <%}%>
<%- include('partials/footer') %>
