<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <style>
        li{display:inline-block;}
    </style>
  </head>
  <body>
    <main>
    <nav>
      <ul>
        <% if (user) { %>
        <li>
        </li>
        <% } else { %>
        <li>
         
          <a href="/auth/google">Login with Google</a>
        </li>
        <% } %>
      </ul>
    </nav>
<main>
  <h1><%= user ? user.name : "Welcome" %></h1>
</main>

<%if(user){%>
  <section class="options">
    
    <a href= "/projects/<%=user._id%>">My Projects</a>
    <br>
    <br>
    <a href= "/projects/task/user/<%=user._id%>">My Tasks</a>
    <br>
    <br>
    <a href = "/projects/task">All Tasks </a>
    <br>
    <br>
    <a href = "/projects">All Projects</a>
    <br>
    <br>
    <a href="/auth/logout">Log Out</a>
  </section>
  
  <%}%>
</main>
<%- include('partials/footer') %>
