<%- include('../partials/header') %>




<main>
  
    <br>
    <%if(tasks.length>0){%>
        <br>All Tasks::
        <%tasks.forEach(task=>{%>

            <br>Task Name::<a href='task/<%=task._id%>'> <%=task.name%>  </a> 
            <form action="/projects/task/<%= task._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>

            <%})%>
        <%}else{%>
            <% if(title!="All Tasks"){ %> 
           You have no tasks
           <% }else{ %>
            There are no tasks
            <% } %>  
           <br>
        <%}%>%>
        <br>
       

    </main>








<%- include('../partials/footer') %>