<%- include('../partials/header') %>




<main>
  
    <br>
    <%if(tasks.length>0){%>
        <br><%=title%>
        <%tasks.forEach(task=>{%>

            <br><a href='/projects/task/<%=task._id%>'> <%=task.name%>  </a> 
            

            <%})%>
        <%}else{%>
            <% if(title!="All Tasks"){ %> 
           You have no tasks
           <% }else{ %>
            There are no tasks
            <% } %>  
           <br>
        <%}%>%>
        <br>
       

    </main>








<%- include('../partials/footer') %>