<%- include('../partials/header') %>




<main>
  
    <br>
    <%if(tasks.length>0){%>
        <br><strong><%=title%></strong>
        <%tasks.forEach(task=>{%>
            <% if(task.finished){%> 
            <br><a id="bubble" class="completed" href='/projects/task/<%=task._id%>'> <%=task.name%>  </a> 
           <% }else{ %> 
            <br><a id="bubble" class="pending" href='/projects/task/<%=task._id%>'> <%=task.name%>  </a> 
            <% } %> 
            

            <%})%>
        <%}else{%>
            <% if(title!="All Tasks"){ %> 
           You have no tasks
           <% }else{ %>
            There are no tasks
            <% } %>  
           <br>
        <%}%>%>
        <br>
       

    </main>








<%- include('../partials/footer') %>