<%- include('../partials/header') %>

<main>



    <form id="new-form" action="/projects/task/<%=task._id%>?_method=PUT" method="POST">
        <label>task Name</label>
        <br>
        <input type="text" name = 'name' value="<%=task.name%>" >
        <br>
        <label>Parent ID:</label>
        <label name="parent"><%=task.parent%></label>
      
      <br>
     <label>Description</label>
     <br>
      <textarea name="description"
      rows="10" cols="50"><%=task.description%></textarea>
      
      <br>
      <% if(JSON.stringify(task.lead)===JSON.stringify(user._id)){ %> 
        <label>Current Task Leader <input type="checkbox" checked name ="lead"></label>
        <% }else{ %> 
            <label>Current Task leader <input type="checkbox" name ="lead"></label>
        <%}%> 
      <br>

  <% if(task.finished){ %> 
        <label>Task Completed <input type="checkbox" checked name ="finished"></label>
        <% }else{ %> 
            <label>Task Completed <input type="checkbox" name ="finished"></label>
        <%}%> 
        <br>
      <input type="submit" value="Submit Task">
        </form>
        <form action="/projects/task/<%= task._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>



</main>





<%- include('../partials/footer') %>