<%- include('../partials/header') %>




<div class="container">
    <a class ="parent" href ='/projects/show/<%=task.parent%>'>Parent</a>        
    <br>
    <br>
    Task:
    <br><tab></tab><%=task.name%>
    <br>
    <% if(task.leadName){ %> 
    Task Lead:<br><tab></tab> <%=task.leadName %>
    <% }else{ %>
        <label>Lead:<a href="/projects/<%=project._id%>/taskSignUp">Sign Up</a></label>
        <% } %> 
    <br>
    Description:
    <br><tab></tab><%=task.description%>
    <br>
    <br>
    <label>Tasks</label>
    
    <section >
     <%if(tasks.length==0){%>
         
         There are no sub-tasks!
     <%}else{tasks.forEach((t)=>{%>
             <tab></tab><a href='/projects/task/<%=t._id%>'><%=t.name%></a>
             <br>
             <%})}%>
             <br>
    </section>

<% if(JSON.stringify(task.lead)===JSON.stringify(user._id)){%>
    <tab></tab><tab></tab><a href="/projects/task/<%=task._id%>/edit">Edit </a>
    <br>
    <tab></tab><tab></tab><a class="center" href="/projects/<%=task._id%>/new">Add Task</a>
    <% } %> 
</div>




<%- include('../partials/footer') %>