<%- include('../partials/header') %>




<div class="card">
    <a class ="parent" href ='/projects/show/<%=task.parent%>'>Parent</a>        
    <br>
    <br>
   <strong> Task:</strong>  <%=task.name%>
    <br>
    <br>
    <% if(task.leadName){ %> 
    <strong>Task Lead:</strong>  <%=task.leadName %>
    <% }else{ %>
        <label>Lead:  <a href="/projects/<%=task._id%>/taskSignUp">Sign Up</a></label>
        <% } %> 
    <br>
    <br>
    <strong>Description:</strong>
    <br><tab></tab><%=task.description%>
    <br><br>
    <label><strong>Tasks</strong></label>
    
    <section >
     
     <%if(tasks.length==0){%>
         
         There are no sub-tasks!
     <%}else{tasks.forEach((t)=>{%>
        
        <% if(t.finished){%> 
            <a id="bubble" class="completed" href='/projects/task/<%=t._id%>'> <%=t.name%>  </a> 
           <% }else{ %> 
            
            <a id="bubble" class="pending" href='/projects/task/<%=t._id%>'> <%=t.name%>  </a> 
            <% } %> 
            
            <br>
             <%})}%>
    </section>
<br><br>
<% if(JSON.stringify(task.lead)===JSON.stringify(user._id)){%>
    <br><br><a href="/projects/task/<%=task._id%>/edit">Edit </a>
    <br>
    <tab></tab><tab></tab><a class="center" href="/projects/<%=task._id%>/new">Add Task</a>
    <% } %> 
</div>




<%- include('../partials/footer') %>