<%- include('../partials/header') %>



<main>
   
        <a href ='/projects/show/<%=task.parent%>'>Back</a>

       
            <br><br>
    This is the <%=title%> page for the <%=task.name%>
    <br>
    <br>
    <label>Description</label>
    <p><%=task.description%></p>
    <br>
    <label>Tasks</label>
    <br>
    

 
    <section >
     <%if(tasks.length==0){%>
         <br>There are no sub-tasks!
 
 
         <%}else{tasks.forEach((t)=>{%>
 
             <label><a href='/projects/task/<%=t._id%>'><%=t.name%></a> </label><br>
 
             <%})}%>
 
             <a href="/projects/<%=task._id%>/new">Add Task</a>
 
 
    </section>
 
     </main>




<%- include('../partials/footer') %>