<%- include('../partials/header') %>


<main>
  
    <br>
    <%if(projects.length>0){%>
        <br>All Projects::
        <%projects.forEach(project=>{%>

            <br>Project Name::<a href='projects/show/<%=project._id%>'> <%=project.name%>  </a> 
            <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
              
            <%})%>
        <%}else{%>
           There are no new projects!
           <br>
        <%}%>%>
        <br>
        <a href="/projects/new">New Project</a>

    </main>








<%- include('../partials/footer') %>