<%- include('../partials/header') %>

<div class="card">
  <br>
  Project Name:   <%=project.name%> <br>  
   <%if(project.lead){%>
    <br><label>Project Lead:<%=project.leadName%></label>
    <%}else{ %>
        <label>Lead:<a href="/projects/<%=project._id%>/signUp">Sign Up</a></label>
        <% } %> 
   <br> <br>
   Description
   <br>
   <%=project.description%>
<br>
<br>

   <section class="tasks">
    Tasks
    <%if(tasks.length==0){%>
       <br>There are no tasks!
        <%}else{tasks.forEach((task)=>{%>
            <br><tab></tab>
            <a href="/projects/task/<%=task._id%>"><%=task.name%></a>

            <%})}%>
           <br>
           <% if(JSON.stringify(project.lead)===JSON.stringify(user._id)){%>
                <a href="/projects/edit/<%=project._id%>">Edit </a>
                <br>
            <a href="/projects/<%=project._id%>/new">Add Task</a>

            <%}%>
   </section>
  

</div>









<%- include('../partials/footer') %>