<%- include('../partials/header') %>


<main>
  
    <%=project.name%>
   <br>
   <br>
   <%if(project.lead){%>
    <label>Project Lead::<%=project.leadName%></label>
    <%}%>
    <br>
   <label>Description</label>
   <p><%=project.description%></p>
<br>
<br>
<label>Edit:<a href="/projects/edit/<%=project._id%>">Edit </a></label>

   <section class="tasks">
    <%if(tasks.length==0){%>
        <br>There are no tasks!


        <%}else{tasks.forEach((task)=>{%>

            <label><a href="/projects/task/<%=task._id%>"><%=task.name%></a></label><br>

            <%})}%>
            <br>
            <br>
            <br>
            <a href="/projects/<%=project._id%>/new">Add Task</a>


   </section>

    </main>








<%- include('../partials/footer') %>