<%- include('../partials/header') %>

<div class="card">
  <br>
 <strong> Project Name:</strong>   <%=project.name%> <br>  
   <%if(project.lead){%>
    <br><label><strong>Project Lead:</strong><%=project.leadName%></label>
    <%}else{ %>
        <label>Lead:<a href="/projects/<%=project._id%>/signUp">Sign Up</a></label>
        <% } %> 
   <br> <br>
   <strong>Description</strong>
   <br>
   <%=project.description%>
<br>
<br>

   <section class="tasks">
    <strong>Tasks</strong>
    <%if(tasks.length==0){%>
       <br>There are no tasks!
        <%}else{tasks.forEach((task)=>{%>
            <% if(task.finished){%> 
                <br><a id="bubble" class="completed" href='/projects/task/<%=task._id%>'> <%=task.name%>  </a> 
               <% }else{ %> 
                <br><a id="bubble" class="pending" href='/projects/task/<%=task._id%>'> <%=task.name%>  </a> 
                <% } %> 
            <%})}%>
           <br>
           <br>
           <% if(JSON.stringify(project.lead)===JSON.stringify(user._id)){%>
                <a href="/projects/edit/<%=project._id%>">Edit </a>
                <br>
            <a href="/projects/<%=project._id%>/new">Add Task</a>

            <%}%>
   </section>
  

</div>









<%- include('../partials/footer') %>