<%- include('../partials/header') %>


<main>
  
   This is the <%=title%> page for the <%=project.name%>
   <br>
   <br>
   <%if(project.lead){%>
    <label>Project Lead::<%=user.name%></label>
    <%}%>
    <br>
   <label>Description</label>
   <p><%=project.description%></p>


   <section class="tasks">
    <%if(tasks.length==0){%>
        <br>There are no tasks!


        <%}else{tasks.forEach((task)=>{%>

            <label><a href="/projects/task/<%=task._id%>"><%=task.name%></a></label><br>

            <%})}%>
            <br>
            <br>
            <br>
            <a href="/projects/<%=project._id%>/new">Add Task</a>


   </section>

    </main>








<%- include('../partials/footer') %>