<%- include('../partials/header') %>


<main>
  
    <%=project.name%>
   <br>
   <br>
   <%if(project.lead){%>
    <label>Project Lead<br><%=project.leadName%></label>
    <%}%>
   <br> <br>
   Description
   <p><%=project.description%></p>
<label><a href="/projects/edit/<%=project._id%>">Edit </a></label>
<br>
<br>
<label>Tasks</label>

   <section class="tasks">
    <%if(tasks.length==0){%>
        There are no tasks!


        <%}else{tasks.forEach((task)=>{%>

            <label><a href="/projects/task/<%=task._id%>"><%=task.name%></a></label><br>

            <%})}%>
            <br>
            <a href="/projects/<%=project._id%>/new">Add Task</a>
          


   </section>

    </main>








<%- include('../partials/footer') %>